.col2{
	background: pink;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	}

.col3{
	background: pink;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	}	

.col5{
	background: pink;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	}	

nav ul{
	margin: auto;
	width: 100%;
	background: cyan;
	padding: 0;
	}
nav ul li{
	text-align: center;
	width: 33.33%;
	background: lightpink;
	list-style: none;
	padding: 10px 0;
	float: left;
	}
	nav ul li:hover{
		background: #E44DFE;
	}
nav ul li a{
	text-decoration: none;
	color: darkblue;
	}

body{
	overflow-x: hidden;
}
footer{
	text-align: left;
}
/*REGLAS PARA RESPONSIVE WEB DESIGN*/

@media screen and (max-width: 768px){
	.container nav ul{
		width: 100%;
	}
	.container nav ul li{
		width: 33.33vw;
	}
	.col2{
		width: 100%;
	}
	.col3{
		width: 100%;
	}
	.col5{
		width: 100%;
	}
}

@media screen and (min-width: 768px){
	.container, nav ul{
		width: 450px;
	}
	.container, nav ul li{
		width: 33.33%;
		text-align: center;
	}
	.col2{
		width: 50%;
		
	}
	.col3{
		width: 33.33%;
	}
	.col5{
		width: 20%;
	}
}

