.col2{
	background: pink;
	width: 50%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	}

.col3{
	background: pink;
	width: 33.33%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	}	

.col5{
	background: pink;
	width: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0%;
	margin-left: 0%;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	}	

nav ul{
	margin: auto;
	width: 450px;
	background: cyan;
	padding: 0;
	}
nav ul li{
	text-align: center;
	width: 33.33%;
	background: lightpink;
	list-style: none;
	padding: 10px 0;
	float: left;
	}
	nav ul li:hover{
		background: #E44DFE;
	}
nav ul li a{
	text-decoration: none;
	color: darkblue;
	}
